body {
    font-family: 'Arial', sans-serif;
    background: #43C6AC;
    background: -webkit-linear-gradient( #191654, #43C6AC);  
    background: linear-gradient( #191654, #43C6AC); 
}

a[href] {
    color: inherit; 
    text-decoration: inherit; 
}



.container {
    margin-top:2%;
    position: relative; 
    margin-right: 7%;
    margin-left: 7%;
    border: 5px solid rgba(245, 245, 220, 0.4);
    border-radius: 30px;
}


nav {
    background: linear-gradient(to right, #007bff 0%, #00dbde 100%);
    width: 100%;
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.6);
}

